Source: rocm-rocr
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkg-config,
 rocm-core,
 rocm-devicelibs,
 rocm-env,
 rocm-llvm,
 rocm-rocprofiler-register-dev,
 rocm-smi-lib-dev,
 libdrm-dev,
 libelf-dev,
 libnuma-dev,
 xxd,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/ROCR-Runtime
Vcs-Browser: https://github.com/revyos-rocm/rocm-rocr
Vcs-Git: https://github.com/revyos-rocm/rocm-rocr.git

Package: rocm-hsa
Architecture: all
Depends:
 ${misc:Depends},
 rocm-rocr,
Description: transitional package for rocm-rocr
 This is a transitional package to ease upgrades to rocm-rocr.
 It can safely be removed.
Section: oldlibs
Priority: optional

Package: rocm-rocr
Architecture: any
Replaces: rocm-hsa (<= 6.2.4-10~)
Breaks: rocm-hsa (<= 6.2.4-10~)
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-core,
 rocm-devicelibs,
 rocm-env,
 rocm-thunk,
 rocm-rocprofiler-register,
 rocm-smi-lib-dev,
Description: HSA Runtime API and runtime for ROCm. Binary package.
 This repository includes the user-mode API interfaces and libraries necessary
 for host applications to launch compute kernels to available HSA ROCm kernel
 agents. Reference source code for the core runtime is also available.

Package: rocm-rocr-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-rocr,
 rocm-smi-lib,
Description: HSA Runtime API and runtime for ROCm. Development package.
 This repository includes the user-mode API interfaces and libraries necessary
 for host applications to launch compute kernels to available HSA ROCm kernel
 agents. Reference source code for the core runtime is also available.
