Source: rocm-hsa
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkg-config,
 rocm-core,
 rocm-devicelibs,
 rocm-env,
 rocm-llvm,
 rocm-thunk,
 rocm-rocprofiler-register-dev,
 libdrm-dev,
 libelf-dev,
 libnuma-dev,
 xxd,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/ROCR-Runtime
Vcs-Browser: https://github.com/r-rocm/rocm-hsa
Vcs-Git: https://github.com/r-rocm/rocm-hsa.git

Package: rocm-hsa
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-core,
 rocm-devicelibs,
 rocm-env,
 rocm-thunk,
 rocm-rocprofiler-register,
Description: HSA Runtime API and runtime for ROCm
 This repository includes the user-mode API interfaces and libraries necessary
 for host applications to launch compute kernels to available HSA ROCm kernel
 agents. Reference source code for the core runtime is also available.
